.player{
  align-items: center;
  display:flex;
  justify-content: space-between;
}
.player_name{
  font-weight: 300;
  font-size: 1.8rem;
}
.player_stats{
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}
.player_action{
  flex-shrink: 0;

}